// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.

[data-engrid-theme="engrid-oceana"]{
   // TYPOGRAPHY DEFAULT
    --default_font-family: 'Lato', sans-serif;
    --default_color: initial;
    --default_font-size: var(--root_font-size);
    --default_font-weight: initial;
    --default_line-height: initial;

    // TYPOGRAPHY H1
    --h1_font-family: "ff-good-headline-web-pro-con", sans-serif;
    --h1_color: #0686e5;
    --h1_font-size: calc(var(--root_font-size) * var(--scale-up_160pct));
    --h1_font-weight: bold;
    --h1_line-height: initial;
    --h1_text-transform:uppercase;

    // TYPOGRAPHY P
    --p_font-family: 'Lato', sans-serif;
    --p_color: initial;
    --p_font-size: var(--root_font-size);
    --p_font-weight: initial;
    --p_line-height: initial;

    // TYPOGRAPHY A
    --a_font-family: var(--default_font-family);
    --a_color: initial;
    --a_text-decoration: underline;

    // TYPOGRAPHY A:FOCUS
    --a_color_hover: var(--a_color);
    --a_text-decoration_hover: initial;

    // TYPOGRAPHY INPUT
    --input_font-family: var(--default_font-family);
    --input_color: #000000;
    --input_font-size: 16px;
    --input_font-weight: 400;
    --input_line-height: initial;
    --input_background-color: #FFFFFF;
    --input_border-width: 3px;
    --input_border-color: #999999;
    --input_border-radius: 0px;
           
    // TYPOGRAPHY INPUT:FOCUS
    // TYPOGRAPHY INPUT:HOVER
    // --input_color_hover: var(--input_color);
    // --input_background-color_hover: var(--input_background-color);
    // --input_border-color_hover: #767677;
    // --input_border-bottom-color_hover: var(--input_border-color_hover);
    // --input_box-shadow_hover: --input_box-shadow;

    // TYPOGRAPHY BUTTON
    --button_font-family: var(--default_font-family);
    --button_color: var(--color_white);
    --button_font-size: var(--root_font-size);
    --button_font-weight: initial;
    --button_line-height: initial;
    --button_background-color: #ccc84a;
    --button_border-width: 3px;
    --button_border-color:#ccc84a;
    --button_border-radius: 0px;

    // TYPOGRAPHY BUTTON:HOVER
    // --button_color_hover: var(--button_color);
    // --button_background-color_hover: var(--color_black);
    // --button_border-color_hover: var(--button_background-color_hover);

    // TYPOGRAPHY BUTTON:SELECTED
    // --button_color_checked: var(--button_color_hover);
    // --button_background-color_checked: var(--button_background-color_hover);
    // --button_border-color_checked: var(--button_border-color_hover);

    // DONATION PAGE
    // --give-monthly-donation-amount-appended-label: "/mo";
    // --give-annual-donation-amount-appended-label: "/yr";  
    // --recurring-frequency__button_count: 4;
    // --donation-amount__button_count: 4;

     // CTA COLORS
     --theme-cta: #0686E5;
     --theme-cta-hover:#0686E5;

     //ERROR COLORS
     --error__color: #C30D02;
     --error__color_faded: rgba(243, 55, 55, 0.15);

    //INPUT
    --theme-typography-checkbox-checked-content:"url('data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z' style='fill:%230686e5'/%3E%3C/svg%3E')";
    --radio_color_selected: var(--theme-cta); 

    
}

[data-engrid-subtheme="sailorsfortheseas"]{
    // CTA COLORS
    --theme-cta: #00205b;
    --theme-cta-hover:#00205b;
    --submit__button_background-color:var(--theme-cta);
    --button_background-color:var(--theme-cta);
    --button_border-color::var(--theme-cta);    
}


/* Add your custom theme styles here */
[data-engrid-theme="organizational-name"]{
    @mixin until-mobile-l {
        // STYLES
    }

    @mixin from-mobile-l {
        // STYLES
    }

    @mixin simplified-header {
        // STLES
    }

    // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
    &[data-engrid-layout] {
        @include mq($until: mobile-l){
            @include until-mobile-l;
        }

        @include mq($from: mobile-l){
            @include from-mobile-l;
        }
    }
    
    // Example of Shared Layout Stylings
    &[data-engrid-layout="centerleft1col"]{
        @media screen and (max-width: $centerleft1col_content-column_min-width) {
            @include simplified-header;
        }
    }

    &[data-engrid-layout="centerright1col"]{
        @media screen and (max-width: $centerright1col_content-column_min-width) {
            @include simplified-header;
        }
    }

}