// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.

[data-engrid-theme="engrid-oceana"]{
   // TYPOGRAPHY DEFAULT
    --default_font-family: 'Lato', sans-serif;
    --default_color: initial;
    --default_font-size: var(--root_font-size);
    --default_font-weight: initial;
    --default_line-height: initial;

    // TYPOGRAPHY H1
    --h1_font-family: "ff-good-headline-web-pro-con", sans-serif;
    --h1_color: #0686e5;
    --h1_font-size: calc(var(--root_font-size) * var(--scale-up_160pct));
    --h1_font-weight: bold;
    --h1_line-height: initial;
    --h1_text-transform:uppercase;

    // TYPOGRAPHY P
    --p_font-family: 'Lato', sans-serif;
    --p_color: initial;
    --p_font-size: var(--root_font-size);
    --p_font-weight: initial;
    --p_line-height: initial;

    // TYPOGRAPHY A
    --a_font-family: var(--default_font-family);
    --a_color: initial;
    --a_text-decoration: underline;

    // TYPOGRAPHY A:FOCUS
    --a_color_hover: var(--a_color);
    --a_text-decoration_hover: initial;

    // TYPOGRAPHY INPUT
    --input_font-family: var(--default_font-family);
    --input_color: #000000;
    --input_font-size: 16px;
    --input_font-weight: 400;
    --input_line-height: initial;
    --input_background-color: #FFFFFF;
    --input_border-width: 3px;
    --input_border-color: #999999;
    --input_border-radius: 0px;
           
    // TYPOGRAPHY INPUT:FOCUS
    // TYPOGRAPHY INPUT:HOVER
    // --input_color_hover: var(--input_color);
    // --input_background-color_hover: var(--input_background-color);
    // --input_border-color_hover: #767677;
    // --input_border-bottom-color_hover: var(--input_border-color_hover);
    // --input_box-shadow_hover: --input_box-shadow;

    // TYPOGRAPHY BUTTON
    --button_font-family: var(--default_font-family);
    --button_color: var(--color_white);
    --button_font-size: var(--root_font-size);
    --button_font-weight: initial;
    --button_line-height: initial;
    --button_background-color: #ccc84a;
    --button_border-width: 3px;
    --button_border-color:#ccc84a;
    --button_border-radius: 0px;

    // TYPOGRAPHY BUTTON:HOVER
    // --button_color_hover: var(--button_color);
    // --button_background-color_hover: var(--color_black);
    // --button_border-color_hover: var(--button_background-color_hover);

    // TYPOGRAPHY BUTTON:SELECTED
    // --button_color_checked: var(--button_color_hover);
    // --button_background-color_checked: var(--button_background-color_hover);
    // --button_border-color_checked: var(--button_border-color_hover);

    // DONATION PAGE
    // --give-monthly-donation-amount-appended-label: "/mo";
    // --give-annual-donation-amount-appended-label: "/yr";  
    // --recurring-frequency__button_count: 4;
    // --donation-amount__button_count: 4;

     // CTA COLORS
     --theme-cta: #0686E5;
     --theme-cta-hover:#0686E5;

     //ERROR COLORS
     --error__color: #C30D02;
     --error__color_faded: rgba(243, 55, 55, 0.15);

    //INPUT
    --theme-typography-checkbox-checked-content:"url('data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z' style='fill:%230686e5'/%3E%3C/svg%3E')";
    --radio_color_selected: var(--theme-cta); 
}

    @mixin simplified-header {

    }
    


    
[data-engrid-subtheme="sailorsfortheseas"]{
    // CTA COLORS
        --theme-cta: #00205b;
        --theme-cta-hover:#00205b;
        --submit__button_background-color:var(--theme-cta);
        --button_background-color:var(--theme-cta);
        --button_border-color::var(--theme-cta);    
    }


/* Add your custom theme styles here */
[data-engrid-theme="engrid-oceana"]{
    @mixin until-mobile-l {
        // STYLES
    }

    @mixin from-mobile-l {
        // STYLES
    }

    @mixin simplified-header {
        // STYLES
    }

    // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
    &[data-engrid-layout] {
        @include mq($until: mobile-l){
            @include until-mobile-l;
        }

        @include mq($from: mobile-l){
            @include from-mobile-l;
        }
    }
    
    // Example of Shared Layout Stylings
    &[data-engrid-layout="centerleft1col"]{
        @media screen and (max-width: $centerleft1col_content-column_min-width) {
            @include simplified-header;
        }
    }

    &[data-engrid-layout="centerright1col"]{
        @media screen and (max-width: $centerright1col_content-column_min-width) {
            @include simplified-header;
        }
    }

    // Two column layouts on desktop get horizontal spacing between each column
    &[data-engrid-layout="centercenter2col"] {
        @media screen and (min-width: $centercenter2col_content-column_min-width) {
            --engrid__body_margin: 0 1rem;
        }  
    }

}


[data-engrid-theme="engrid-oceana"]{
@mixin simplified-header {

//DONATION
    .radio-to-buttons_donationAmt .en__field--donationAmt.en__field--radio input[type=radio]+label {
        background-color: #0686e5;
        background-position-x: 40px;
        border: var(--donation-amount__button_border-width) solid #0686e5;
        border-radius: 50%;
        color: var(--donation-amount__button_color);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-align: center;
        width: 69px;
        height: 69px;
        padding: 24px 0;
        font-size: 17px;
        line-height: 1;
        margin: 0 0 10px 12px;
    }
    
    .radio-to-buttons_donationAmt .en__field--donationAmt.en__field--radio .en__field__item input[type=radio]:checked+label {
        background-color: var(--color-white);
        border: 3px solid var(--theme-cta);
        color: var(--theme-cta);
    }
    
// ERROR FIELD COLOR UPDATE //
    .en__field--validationFailed:not(.has-value):not(.has-focus) [type], .en__field--validationFailed:not(.has-value):not(.has-focus) select, .en__field--validationFailed:not(.has-value):not(.has-focus) textarea {
        background-color: rgba(243, 55, 55, 0.15);
        border-color: var(--input_border-color);
    }
    
//FOOTER//
.body-bottom {
    padding-bottom: 3em;
}

.content-footer>div {
    grid-column: pc;
    padding: 0 3rem;
}

.content-footer {
    background: #1f2024;
    color: white;
    font-size: 14px;
}

.content-footer nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 3em 0 0;
    padding: 0;
}

.content-footer a {
    color: #0686e5;
    text-decoration:none;
}

.content-footer hr {
    display: none;
    height: 1px;
    background: 0;
    border: 0;
    margin: 0;
}

li.twitter {
    margin-top: 10px;
}
    
@media (min-width: 769px){
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        text-align: left;
        margin: 0 auto;
    }
}

// mobile footer styles //
@media (max-width: 767px){
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    row-gap: 1em;
    }

    li.facebook {
    display: inline;
    }

        li.twitter {
        margin-top: 10px;
    display: inline-block;
    }
}

//  HEADER STYLES //
    @media (min-width: 769px){
    .content-header {
    background: rgb(255 255 255 / 60%);
    padding: 1.5rem;
    margin-bottom: 75px;
    }
    }
        
    .content-header.pseudo-subgrid>div {
    grid-column: pc;
    padding: 0 3rem;
    }
        
// BODY STYLES //
        
    h2{
    font-size:50px;
    font-weight:700;
    }
    
    h5{
    font-family: var(--default_font-family);
    font-size:22px;
    color: initial;
    font-weight:600;
    }
    
    .radio-to-buttons_donationAmt .en__field--donationAmt.en__field--radio>.en__field__element .en__field__item {
    flex-basis: auto;
    flex-grow: 0;
    }
    
    .radio-to-buttons_donationAmt .en__field.en__field--withOther .en__field__element .en__field__item {
    padding-left: 0px;
    padding-right: 0px;
    }
    
    .small{
    font-size:13px;
    }

// SPACING //
    .body-main {
    padding-top: 50px;
    }

    .content-footerSpacer {
    height: 100px;
    }
    
    
    .content-footer {
    padding: 60px 0;
    margin-top:50px;
    }
    
    .body-banner {
    padding: 0 30px;
    }
    
    // .body-title, .body-title, .body-banner, .body-bannerOverlay, .body-top {
    // margin-right: 2rem;
    // }
    
    .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem 0px;
    flex-wrap: wrap;
    }
    
    .footer-col1, .footer-col2 {
    padding: 0rem 1rem;
    }
    
    .en__submit .button, .en__submit button, .pseduo__en__submit_button {
    font-size: 20px;
    font-weight:bold;
    }
    
    .radio-to-buttons_donationAmt .en__field.en__field--withOther .en__field__element .en__field__item:last-child {
    padding-left: 1rem;
    }
    
    input[type=checkbox]:checked+label:before {
    background-color: var(--checkbox_background-color_checked);
    border-color: var(--checkbox_border-color_checked);
    color: var(--checkbox_color_checked);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z' style='fill:%230686e5'/%3E%3C/svg%3E");
    }
    
// DONATION PAGES //
    .en__field--donationAmt .en__field__item--other {
    position: relative
    }
    
    .en__field--donationAmt .en__field__item--other input {
        padding-left: 3.4ch;
    }
    
    .en__field--donationAmt .en__field__item--other:before {
        content: "$";
        display: block;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 700;
        height: 0;
        left: 2.2ch;
        line-height: 0;
        position: absolute;
        top: calc(50% - 14px);
        background: #57595b;
        color: white;
        border-radius: 50%;
        padding: 13px 9px;
    }
    
    .radio-to-buttons_donationAmt .en__field--donationAmt.en__field--radio.en__field--withOther--active .en__field__item .en__field__input--other{
        background-color: #e4e4e4;
        border-color: #8e8e8e;
        color: #000000;
    }
    
}
}