[data-engrid-theme="oceana"][data-engrid-theme-version="202503"] {
  --engrid__content-header_background-color: var(
    --engrid__body_background-color
  );
  --engrid__body_background-color: #d3eafb;
  --engrid__content-footer_background-color: #22214a;
  --engrid__body_box-shadow: none;
  --recurring-frequency__button_count: 2;
  --donation-amount__button_count: 3;
  --give-by-select__button_count: 1;
  --give-monthly-donation-amount-appended-label: "/mo";

  --engrid__body_padding: 0px 4rem;

  --default_font-family: "Lato", sans-serif;
  --default_font-size: 18px;
  --default_color: #22214a;
  // --default_font-size: var(--root_font-size);
  --default_font-weight: 400;
  // --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: "ff-good-headline-web-pro-con", sans-serif;
  // --h1_color: #22214A;
  --h1_font-size: 72px;
  --h1_font-weight: 400;
  --h1_line-height: 100%;
  --h1_text-transform: uppercase;

  --h2_font-size: 42px;
  --h2_font-weight: 700;
  // --h2_line-height: 100%;

  --input_font-size: 20px;
  --input_font-weight: 400px;
  --input_border-width: 2px;
  --input_border-radius: 0px;
  --input_border-color: var(--default_color);

  // TYPOGRAPHY BUTTON
  //   --button_font-family: var(--default_font-family);
  --button_color: var(--color_white);
  --button_font-size: 26px;
  --button_font-weight: 700; /* Suppoed to be 900, but we don't have that font in Lato */
  //   --button_line-height: initial;
  --button_background-color: #058ceb;
  --button_border-width: 2px;
  --button_border-color: var(--default_color);
  --button_border-radius: 0px;
  --button_background-color_hover: var(--default_color);

  --recurring-frequency__button_color: var(--default_color);
  --recurring-frequency__button_color_hover: var(--default_color);
  --recurring-frequency__button_background-color: #ffffff;
  --recurring-frequency__button_border-color: var(--default_color);
  --recurring-frequency__button_background-color_hover: #ffffff;
  --recurring-frequency__button_background-color_checked: var(--default_color);

  --donation-amount__button_font-size: 40px;
  --donation-amount__button_padding: 0.6ch;
  --donation-amount__button_color: var(--default_color);
  --donation-amount__button_background-color: #ffffff;
  --donation-amount__button_color_hover: var(--default_color);
  --donation-amount__button_background-color_hover: #ffffff;
  --donation-amount__button_background-color_checked: var(--default_color);

  --give-by-select__button_color: var(--default_color);
  --give-by-select__button_background-color: #ffffff;
  --give-by-select__button_border-color: var(--default_color);

  --give-by-select__button_color_hover: var(--default_color);
  --give-by-select__button_background-color_hover: #ffffff;
  // --give-by-select__button_border-color_hover:var(--button_border-color_hover);

  --give-by-select__button_color_checked: #ffffff;
  --give-by-select__button_background-color_checked: var(--default_color);
  // --give-by-select__button_border-color_checked:var(--button_border-color_hover);

  --submit__button_font-size: 40px;
  --submit__button_border-color: var(--submit__button_background-color);
  --submit__button_background-color_hover: var(--default_color);
  --submit__button_border-color_hover: var(--default_color);
  --submit__button_padding-top: 0.75ch;
  --submit__button_padding-bottom: 0.75ch;

  &:not([data-engrid-embedded]) {
    overscroll-behavior-x: none; // Don't allow left/right overscrolling
  }

  .engrid-currency-symbol {
    font-size: 26px;
    font-weight: 500;
    position: relative;
    top: -10px;
  }

  .radio-to-buttons_donationAmt .en__field--donationAmt {
    .en__field__input--radio:focus + .en__field__label {
      outline: none;
    }

    .en__field__element--radio {
      --fields_spacing-inline: 4px;
      --fields_spacing-block: 5px;
    }

    .en__field__item input[type="radio"]:checked + label {
      span {
        color: var(--engrid__body_background-color);
      }

      &:after {
        color: #ffffff;
      }
    }

    .en__field__item.en__field__item--other {
      flex-basis: 100%;
      position: relative;

      &:before {
        content: attr(data-currency-symbol);
        font-size: 26px;
        left: 20px;
        position: absolute;
        top: 15px;
      }

      input {
        font-size: 40px;
        line-height: var(--donation-amount__button_line-height);
        padding: 14px 12px 14px 33px;
      }
    }

    &.en__field--withOther--active .en__field__item--other:before {
      color: #fff;
    }

    div:not(.en__field__item--other) .en__field__label--item:after {
      font-family: "Lato";
      font-weight: 500;
      font-size: 26px;
      color: var(--default_color);
      opacity: 1;
      position: relative;
      top: 6px;
      margin-left: 0px;
    }
  }

  // Adds styling behind the page during aggressive overscrolling
  &:not([data-engrid-embedded])[data-engrid-js-loading="finished"]:before {
    z-index: -99;
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
      180deg,
      rgb(211, 234, 251) 50%,
      rgb(34, 33, 74) 50%
    );
  }

  h1 strong {
    --h1_font-weight: 700;
  }

  .body-title h1 {
    text-wrap: balance;
  }

  --click-to-expand__copy-area_height: 200px;
  --click-to-expand__cta-image_height: 23px;
  --click-to-expand__cta-image_width: 100%;

  &:not(#en__pagebuilder) .click-to-expand:not(.expanded) {
    margin-bottom: 1em;

    .click-to-expand-cta {
      background: none !important;
      right: auto !important;
      padding-bottom: 1.75em;
      // width: 100% !important;
      // height: 20px !important;

      &:before {
        content: var(--click-to-expand__cta-image_url);
        position: absolute;
        transform: rotate(-90deg);
        left: 3px;
      }

      &:after {
        content: "Read More";
        position: relative;
        left: 20px;
        font-weight: 400;
      }
    }

    .click-to-expand-text-wrapper {
      mask-image: linear-gradient(
        to bottom,
        #000 50%,
        #fff0 calc(100% - var(--click-to-expand__cta-image_height) - 13px)
      );
    }
  }

  .click-to-expand.expanded {
    margin-bottom: 1.4rem;

    .click-to-expand-text-wrapper > *:last-child {
      margin-bottom: 0;
    }
  }

  .content-header {
    padding: var(--engrid__body-title_padding);
  }

  .content-header,
  .content-header.pseudo-subgrid > div {
    grid-column: bc;
  }

  /* RECURRING FREQUENCY BUTTONS */
  --recurring-frequency__button_font-size: 1.5rem;
  --recurring-frequency__button_padding: 70px 0px 14px;

  .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio {
    margin-top: calc(60px - 1em);
    margin-bottom: 0;

    input:focus + label {
      outline: none;
    }

    & > .en__field__element .en__field__item {
      &:first-of-type {
        padding-right: 0;

        label:after {
          background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1997/oceana-donate-onetime-turtle.png");
          background-position: top;
          background-repeat: no-repeat;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          top: 37px;
          transition: transform 0.25s ease-in-out;
          width: 50%;
          background-size: 88px 74px;
          transform: scale(0.7) translateY(10px);
        }

        // input:checked + label:after,
        // input:hover + label:after {
        //   transform: scale(0.7) translateY(10px);
        // }

        input:checked + label:after {
          filter: invert(1) grayscale(1) contrast(100) brightness(1); // Make white with no grays
        }
      }

      &:last-of-type {
        padding-left: 0;

        label:after {
          background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1997/oceana-donate-monthly-fish.png");
          background-position: top;
          background-repeat: no-repeat;
          bottom: 0;
          content: "";
          left: calc(50% + 5px);
          position: absolute;
          top: 40px;
          transition: transform 0.25s ease-in-out;
          width: 50%;
          background-size: 116px 74px;
        }

        input:checked + label:after,
        input:hover + label:after {
          transform: scale(0.7) translateY(10px);
        }

        input:checked + label:after {
          filter: invert(1) grayscale(1) contrast(100) brightness(1); // Make white with no grays
        }
      }

      padding-bottom: 0;
    }
  }

  .inline-donation-message {
    position: relative;
    border-bottom: 2px solid transparent; // black
    border-left: 2px solid transparent; // black
    border-right: 2px solid transparent; // black
    text-align: center;
    padding: 7px 15px;
    // background: #efeabe;

    p {
      margin: 0;
      font-size: 16px;
    }

    &:before {
      border: 2px solid var(--default_color);
      border-right: none;
      border-bottom: none;
      content: "";
      left: calc(75% - 9px); // 73%
      position: absolute;
      top: -11.5px;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      background-color: var(--engrid__body_background-color); // #efeabe
    }
  }

  .en__field--paycurrency select {
    border: none;
    text-align: center;
    // text-transform: uppercase;
    // font-size: 1.5rem;
    font-weight: 700;
    width: auto;
    margin: 18px auto 0 !important;
    box-shadow: none;
    background-color: transparent;
  }

  // .give-by-select .en__field__label--item img {
  //   height: 28px;
  //   margin: 0;
  //   width: auto;
  // }

  .en__field--give-by-select.en__field--radio
    input[type="radio"]:focus
    + label {
    outline: none;
  }

  .en__field--give-by-select.en__field--radio input[type="radio"] + label {
    height: 58px;
  }

  .en__field--give-by-select .en__field__label--item img {
    width: auto;
    margin: 0;
    height: 28px;
  }

  .en__field--give-by-select input:checked + label > img.paypal,
  .en__field--give-by-select input:hover + label > img.paypal,
  .en__field--give-by-select input:checked + label > img.google-pay-type,
  .en__field--give-by-select input:hover + label > img.google-pay-type,
  .en__field--give-by-select input:checked + label > img.apple-pay-logo,
  .en__field--give-by-select input:hover + label > img.apple-pay-logo,
  .en__field--give-by-select input:checked + label > img.paypal-venmo,
  .en__field--give-by-select input:hover + label > img.paypal-venmo {
    filter: brightness(0) invert(1);
  }

  .en__field--give-by-select input:checked + label > img.paypal-venmo,
  .en__field--give-by-select input:checked + label > img.paypal {
    filter: invert(1) grayscale(1) contrast(100) brightness(1);
  }

  // Removed .en__field--give-by-select input:hover + label > img.daf-logo
  .en__field--give-by-select input:checked + label > img.daf-logo {
    filter: brightness(3) invert(0);
  }

  .en__field--give-by-select .en__field__label--item img.google-pay-logo {
    position: relative;
    top: -3px;
  }

  .en__field--give-by-select .en__field__label--item img.google-pay-type {
    margin-left: 6px;
    margin-right: 20px;
  }

  .en__field--give-by-select .en__field__label--item img.paypal-venmo {
    height: 25px;
    margin: 0 5px;
  }

  .tc-has-country-flags {
    margin-bottom: var(--fields_spacing-block);
    margin-top: calc(var(--fields_spacing-inline) * 0.5);

    input[type="tel"] {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .en__field__notice {
    font-size: 16px;
    font-weight: 400;
    text-decoration: italic;
    opacity: 0.75;
    margin-bottom: var(--fields_spacing-block);
  }

  .gift-summary {
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--default_color);
    margin: 30px auto 20px;
    padding: 30px 20px;

    > img {
      width: 82px;
      height: 64px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-bottom: 0;
      text-align: center;
    }
  }

  button .live-variable-currency {
    font-size: 26px;
    position: relative;
    top: -15px;
    font-weight: 500;
  }

  button .live-variable-frequency {
    font-size: 26px;
    position: relative;
    font-weight: 500;
    // top: -4px;
    // text-transform: capitalize;
    font-style: italic;
    // left: 0.75ch;
  }

  .body-bottom {
    & > div {
      max-width: 366px;
      margin: 1em auto;
    }

    p {
      text-align: center;
    }

    .footer-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  .content-footer {
    grid-column: bc;
    --engrid__content-footer_padding: 0 6rem;
    padding-bottom: 1.5rem;
    color: #ffffff; // Why can't this be "--default_color: #ffffff;"? It doesn't work.

    padding-top: 171px;
    background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1997/oceana-footer-background-transition.png"),
      url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1997/oceana-footer-background-image.png");
    background-size: 100%, 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top left, bottom left;

    /* The footer with this menu is shorter, so we need to adjust the padding to fit the coral image */
    &:has(.menu-container) {
      padding-top: 223px;
    }

    #footer-logo {
      margin-left: 0;
    }

    #footer-address {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }

    #footer-availability {
      font-size: 18px;
      font-weight: 300;
    }

    #footer-menu,
    #footer-copyright,
    #footer-4site {
      margin-bottom: 2.5rem;
      color: #d2eafb;
    }

    #footer-menu a {
      color: #d2eafb;
      margin-right: calc(1ch + 2px);

      &:not(:last-child) {
        &:after {
          background-color: #d3eafb;
          content: "";
          height: 17px;
          margin-top: 6px;
          position: absolute;
          width: 2px;
          margin-left: calc(0.5ch + 2px);
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }

    #footer-4site span {
      margin-left: 0.5ch;
      margin-right: 0.5ch;
    }
  }

  @media screen and (min-width: $leftleft1col_body-column_max-width) {
    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] {
      .page-backgroundImage {
        grid-column: rpc/pc;

        &:before,
        figure.media-with-attribution {
          left: $leftleft1col_body-column_max-width;
          right: 0;
          width: calc(100% - $leftleft1col_body-column_max-width);
          background-position: center !important;
          border-left: 2px solid var(--default_color);
        }
      }
    }
  }

  @media screen and (min-width: $rightright1col_body-column_max-width) {
    &:not(#en__pagebuilder)[data-engrid-layout="rightright1col"] {
      .page-backgroundImage {
        grid-column: pc/lpc;

        &:before,
        figure.media-with-attribution {
          left: 0;
          right: $rightright1col_body-column_max-width;
          width: calc(100% - $rightright1col_body-column_max-width);
          background-position: center !important;
          border-right: 2px solid var(--default_color);
        }
      }
    }
  }

  .tippy-box[data-theme~="RAN"] {
    background-color: var(--engrid__body_background-color);
    color: #000;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    max-width: 400px !important;
    border-radius: 0;

    .tippy-content {
      padding: 0;
    }

    &[data-placement^="top"] > .tippy-arrow::before {
      border-top-color: var(--engrid__body_background-color);
    }

    &[data-placement^="bottom"] > .tippy-arrow::before {
      border-bottom-color: var(--engrid__body_background-color);
    }

    &[data-placement^="left"] > .tippy-arrow::before {
      border-left-color: var(--engrid__body_background-color);
    }

    &[data-placement^="right"] > .tippy-arrow::before {
      border-right-color: var(--engrid__body_background-color);
    }

    &[data-placement^="left"] > .tippy-arrow {
      bottom: -15px;
      right: -8px;
      top: auto !important;
      transform: rotate(-90deg) !important;
    }
  }

  /* Hides  Ad Tracking Pixels */
  [src*="w55c"].hide {
    // display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Advocacy Page Footer */
  .content-footer {
    .menu-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: min-content min-content;
      gap: 2rem 1rem;
      grid-auto-flow: row;
      grid-template-areas:
        "menu-1 menu-2 menu-3 menu-4"
        "social-media social-media social-media social-media";
    }

    .headline h3 {
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 0;
    }

    /* Legacy Markup Supprot */
    /* Hide the horizontal rule that was used on Legacy Pages */
    hr {
      display: none;
    }

    ul {
      margin-bottom: 0;
    }

    .menu-container a {
      color: #ffffff;
    }

    .menu-1 {
      justify-self: start;
      align-self: start;
      grid-area: menu-1;
    }

    .menu-2 {
      justify-self: start;
      align-self: start;
      grid-area: menu-2;
    }

    .menu-3 {
      justify-self: start;
      align-self: start;
      grid-area: menu-3;
    }

    .menu-4 {
      justify-self: start;
      align-self: start;
      grid-area: menu-4;
    }

    .social-media {
      justify-self: center;
      align-self: center;
      grid-area: social-media;
      margin-top: 0;

      li {
        text-align: center;
      }
    }
  }
}
